extensions:
	arachne.dihelpers: Arachne\DIHelpers\DI\DIHelpersExtension
	test: Tests\Integration\Classes\TestExtension

services:
	foo1:
		class: ArrayObject([ foo1 ])
		tags:
			foo: name1

	foo2:
		class: ArrayObject([ foo2 ])
		tags:
			foo:
				- name2
				- name3

	foo3:
		class: ArrayObject([ foo3 ])
		tags:
			foo:
				arachne.di.resolver.name: name4
				- name5
